@font-face {
    font-family: "San Francisco Regular";
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/SF-Pro-Display-Regular.otf') format("opentype");
  }
  
@font-face {
    font-family: "San Francisco Thin";
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/SF-Pro-Display-Thin.otf') format("opentype");
}

[data-theme^="light"], 
[data-theme] [data-theme^="light"] { 
    background-color: #fff; 
}

[data-theme^="light"], 
[data-theme] [data-theme^="light"] .title { 
    color: #646B73;  
}

[data-theme^="light"], 
[data-theme] [data-theme^="light"] .clipboardText { 
    color: #646B73; 
}

[data-theme^="light"], 
[data-theme] [data-theme^="light"] .options{ 
    border-top: 1px solid #868F9A;
}

[data-theme^="light"], 
[data-theme] [data-theme^="light"] .btn { 
    color: #000; 
}

[data-theme^="light"], 
[data-theme] [data-theme^="light"] .btn:hover {
    color: #026CDD;
}

[data-theme^="dark"], 
[data-theme] [data-theme^="dark"] { 
    background-color: #101113; 
}

[data-theme^="dark"], 
[data-theme] [data-theme^="dark"] .title {
    color: #7E858C;
}

[data-theme^="dark"], 
[data-theme] [data-theme^="dark"] .clipboardText {
    color: #7E858C;
}

[data-theme^="dark"], 
[data-theme] [data-theme^="dark"] .options { 
    border-top: 1px solid #404245;
}

[data-theme^="dark"], 
[data-theme] [data-theme^="dark"] .btn {
    color: white;
}

[data-theme^="dark"], 
[data-theme] [data-theme^="dark"] .btn:hover {
    color: #60ADFF
}


body {
    font-size: 16px;
    font-family: 'San Francisco Regular';
    margin: 0;
    padding: 0;
    border-radius: none;
}


.window {
    position: relative;
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
}

.language-container {
    position: absolute;
    top: 15px;
    left: 15px;
}

.title {
    font-size: .6em;
    text-transform: uppercase;
    text-align: center;
}

.clipboardText {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-line;
    word-break: break-all;
}

.options {
    border-top: 1px solid #D8D8D8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1em;
    padding-top: .8rem;
}

.btn {
    cursor: pointer;
    font-size: .7em;
    text-align: center;
}

.btn:hover {
    color: #026CDD;
}
